# SPDX-License-Identifier: LGPL-3.0-only
root = true

[LICENSE]
end_of_line = crlf

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
